/* ==========================================
   TABLET
========================================== */

@media(max-width:992px){

.container{
    width:92%;
}

}

/* ==========================================
   MOBILE
========================================== */

@media(max-width:768px){

.section-title h2{
    font-size:1.6rem;
}

.product-card img{
    height:200px;
}

}

/* ==========================================
   SMALL MOBILE
========================================== */

@media(max-width:480px){

.section-title h2{
    font-size:1.3rem;
}

.primary-btn,
.secondary-btn{
    width:100%;
    text-align:center;
}

}